// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"baggrund": #F0EDED,
	"gron": rgb(168,227,113),
	"lilla": #907CB0,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


$mobil: "screen and (min-width: 0)";
$tablet: "screen and (min-width: 768px)";
$nav: "screen and (min-width: 992px)";
$computer: "screen and (min-width: 1200px)";


// menu/header og footer start
.line{
	@media #{$mobil}{
		border: none;
	}
	@media #{$tablet}{
		border-right: 1px solid gray;
	}
	@media #{$computer}{
		border-right: 1px solid gray;
	}

}

.icons{
	@media #{$mobil}{
		font-size: xx-large;
	}
	@media #{$tablet}{
		font-size: xx-large;
	}
	@media #{$computer}{
		font-size: xxx-large;
	}
	color: #4d5154 !important;

}

#RSV{
	@media #{$mobil}{
		height: 140px;
	}
	@media #{$tablet}{
		height: 150px;
	}
	@media #{$computer}{
		height: 150px;
	}
}

#logo{
	@media #{$mobil}{
		height: 70px;
	}
	@media #{$tablet}{
		height: 80px;
	}
	@media #{$computer}{
		height: 90px;
	}
}

#find{
	@media #{$mobil}{
		font-size: 15px;
	}
	@media #{$tablet}{
		font-size: 20px;
	}
	@media #{$computer}{
		font-size: 20px;
	}
}


#copyright{
	@media #{$mobil}{
		font-size: 10px;
	}
	@media #{$tablet}{
		font-size: 15px;
	}
	@media #{$computer}{
		font-size: 25px;
	}
}

// menu/header og footer slut





body{
	@media #{$mobil}{
		font-size: small;
	}
	@media #{$tablet}{
		font-size: medium;
	}
	@media #{$computer}{
		font-size: large;
	}


}


.line2{
	@media #{$mobil}{
		border-bottom: 1px solid gray;
	}
	@media #{$tablet}{
		border-bottom: 1px solid gray;
	}
	@media #{$computer}{
		border-bottom: 1px solid gray;

	}

}



#sponsor{
	@media #{$mobil}{
		height: 70px;
	}
	@media #{$tablet}{
		height: 80px;
	}
	@media #{$computer}{
		height: 90px;
	}
}


@media #{$nav}{
#firkant {
	position: relative;

}

#firkant:after {
	content: "";
	position: absolute;
	bottom: -57px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #907CB0;

}
}

@media #{$computer}{
	#firkant {
		position: relative;

	}

	#firkant:after {
		content: "";
		position: absolute;
		bottom: -60px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 25px solid #907CB0;

	}
}

.navbar{
	position: relative;
}

.bg-lilla {
	position: absolute;
	background-color: #907CB0;
	top: -10px;
	bottom: 0;
	height: 100%;

}
